/*! @gov.au/core v3.4.2 */
/*! @gov.au/buttons v3.0.7 */
@media print{
	.drap-btn{
		background-color:#fff !important;
		border:2px solid #000 !important;
		color:#000 !important;
		text-decoration:none !important
}
	.drap-btn[disabled]{
		background-color:#ccc !important;
		border:2px solid #ccc !important
}
	.drap-btn:disabled{
		background-color:#ccc !important;
		border:2px solid #ccc !important
}
}
.drap-btn,a.drap-btn{
	font-size:16px;
	font-size:1rem;
	line-height:1.5;
	padding:8px 24px;
	padding:.5rem 1.5rem;
	display:inline-block;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	color:#000000;
	text-decoration:none;
	border-radius:4px;
	background-color:#F6CC33;
	border:3px solid #000000;
	cursor:pointer;
	vertical-align:middle;
	-webkit-transition:background 0.1s ease, border 0.1s ease, color 0.1s ease;
	transition:background 0.1s ease, border 0.1s ease, color 0.1s ease
}
.drap-body .drap-btn,.drap-body a.drap-btn{
	color:#fff;
	text-decoration:none
}
.drap-btn.drap-btn--block+.drap-btn.drap-btn--block,.drap-btn.drap-btn--block+a.drap-btn.drap-btn--block,a.drap-btn.drap-btn--block+.drap-btn.drap-btn--block,a.drap-btn.drap-btn--block+a.drap-btn.drap-btn--block{
	margin-top:8px;
	margin-top:.5rem
}
.drap-btn:focus,a.drap-btn:focus{
	outline:3px solid #000000;
	outline-offset:2px
}
.drap-btn::-moz-focus-inner,a.drap-btn::-moz-focus-inner{
	border:0
}
.drap-btn:focus,a.drap-btn:focus{
	border-radius:0
}
.drap-btn[disabled],a.drap-btn[disabled]{
	cursor:not-allowed;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	opacity:0.3
}
.drap-btn:disabled,a.drap-btn:disabled{
	cursor:not-allowed;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	opacity:0.3
}
.drap-btn:hover:not(:disabled),a.drap-btn:hover:not(:disabled){
	background-color:#000000;
	border-color:#F6CC33;
	text-decoration:underline;
	color:#fff
}
.ie8 .drap-btn:hover,.ie8 a.drap-btn:hover{
	background-color:#000000;
	border-color:#F6CC33;
	color:#fff;
	text-decoration:underline
}
.drap-btn.drap-btn--dark,a.drap-btn.drap-btn--dark{
	color:#135E70;
	background-color:#61daff;
	border-color:#61daff
}
.drap-body .drap-btn.drap-btn--dark,.drap-body a.drap-btn.drap-btn--dark{
	color:#135E70
}
.drap-btn.drap-btn--dark:hover:not(:disabled),a.drap-btn.drap-btn--dark:hover:not(:disabled){
	color:#135E70;
	border-color:#fff;
	background-color:#fff
}
.ie8 .drap-btn.drap-btn--dark:hover,.ie8 a.drap-btn.drap-btn--dark:hover{
	color:#135E70;
	border-color:#fff;
	background-color:#fff
}
.drap-btn.drap-btn--dark:focus,a.drap-btn.drap-btn--dark:focus{
	outline:3px solid #000000
}
.drap-btn.drap-btn--dark::-moz-focus-inner,a.drap-btn.drap-btn--dark::-moz-focus-inner{
	border:0
}
.drap-btn.drap-btn--secondary,a.drap-btn.drap-btn--secondary{
	color:#000000;
	background-color:transparent;
	border-color:#000000
}
.drap-body .drap-btn.drap-btn--secondary,.drap-body a.drap-btn.drap-btn--secondary{
	color:#00698f
}
.ie8 .drap-body .drap-btn.drap-btn--secondary:hover,.ie8 .drap-body a.drap-btn.drap-btn--secondary:hover{
	color:#fff
}
.drap-btn.drap-btn--secondary:hover:not(:disabled),a.drap-btn.drap-btn--secondary:hover:not(:disabled){
	background-color:#000000;
	border-color:#000000;
	text-decoration:underline;
	color:#fff
}
.drap-btn.drap-btn--secondary.drap-btn--dark,a.drap-btn.drap-btn--secondary.drap-btn--dark{
	border-color:#61daff;
	color:#61daff
}
.drap-btn.drap-btn--secondary.drap-btn--dark:hover:not(:disabled),a.drap-btn.drap-btn--secondary.drap-btn--dark:hover:not(:disabled){
	border-color:#fff;
	color:#fff
}
.ie8 .drap-body .drap-btn.drap-btn--secondary.drap-btn--dark:hover,.ie8 .drap-body a.drap-btn.drap-btn--secondary.drap-btn--dark:hover{
	color:#135E70
}
.drap-btn.drap-btn--tertiary,a.drap-btn.drap-btn--tertiary{
	color:#00698f;
	background-color:transparent;
	border-color:transparent;
	text-decoration:underline
}
.drap-btn.drap-btn--tertiary:hover:not(:disabled),a.drap-btn.drap-btn--tertiary:hover:not(:disabled){
	background-color:transparent;
	color:#313131;
	border-color:transparent;
	text-decoration:none
}
.drap-btn.drap-btn--tertiary.drap-btn--dark,a.drap-btn.drap-btn--tertiary.drap-btn--dark{
	color:#61daff
}
.drap-btn.drap-btn--tertiary.drap-btn--dark:hover:not(:disabled),a.drap-btn.drap-btn--tertiary.drap-btn--dark:hover:not(:disabled){
	color:#fff
}
.drap-btn.drap-btn--pride,a.drap-btn.drap-btn--pride{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(16.66666667%, rgba(255,62,24,0.5)), color-stop(16.66666667%, rgba(252,154,0,0.5)), color-stop(33.33333333%, rgba(252,154,0,0.52)), color-stop(33.33333333%, rgba(255,216,0,0.5)), color-stop(33.33333333%, rgba(255,216,0,0.5)), color-stop(50%, rgba(255,216,0,0.5)), color-stop(50%, rgba(57,234,124,0.5)), color-stop(66.66666667%, rgba(57,234,124,0.5)), color-stop(66.66666667%, rgba(11,178,255,0.5)), color-stop(83.33333333%, rgba(11,178,255,0.5)), color-stop(83.33333333%, rgba(152,90,255,0.5)));
	background:linear-gradient(to bottom, rgba(255,62,24,0.5) 16.66666667%, rgba(252,154,0,0.5) 16.66666667%, rgba(252,154,0,0.52) 33.33333333%, rgba(255,216,0,0.5) 33.33333333%, rgba(255,216,0,0.5) 33.33333333%, rgba(255,216,0,0.5) 50%, rgba(57,234,124,0.5) 50%, rgba(57,234,124,0.5) 66.66666667%, rgba(11,178,255,0.5) 66.66666667%, rgba(11,178,255,0.5) 83.33333333%, rgba(152,90,255,0.5) 83.33333333%);
	color:#313131
}
.drap-btn.drap-btn--block,a.drap-btn.drap-btn--block{
	display:block;
	width:100%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center
}

.drap-header{
	background:#F6CC33;
	height:110px;
}

.drap-header .logo{
	margin:24px 0 0 4px;
}

.drap-header .logo img{
	height:64px;
	content:url("../img/CASALOGO-black-i.svg");
}

.drap-header .logo.au-body.au-body--drap{
	float:left;
	margin-left:8px;
}

.au-body--drap-dark {
    background: #F6CC33!important;
}