@font-face {
  font-family: 'casa-2018';
  src:  url('casa-2018.eot?x3m1j');
  src:  url('casa-2018.eot?x3m1j#iefix') format('embedded-opentype'),
    url('casa-2018.ttf?x3m1j') format('truetype'),
    url('casa-2018.woff?x3m1j') format('woff'),
    url('casa-2018.svg?x3m1j#casa-2018') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'casa-2018' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-arrow-next-right:before {
  content: "\e974";
}
.i-arrow-prev-left:before {
  content: "\e975";
}
.i-icons-my-portal_final_application-2-solid:before {
  content: "\e956";
}
.i-icons-my-portal_final_application-3-solid:before {
  content: "\e957";
}
.i-icons-my-portal_final_application-solid:before {
  content: "\e958";
}
.i-icons-my-portal_final_certification-2-solid:before {
  content: "\e959";
}
.i-icons-my-portal_final_ID-solid:before {
  content: "\e95a";
}
.i-icons-my-portal_final_individual-2-solid:before {
  content: "\e95b";
}
.i-icons-my-portal_final_individual-solid:before {
  content: "\e95c";
}
.i-icons-my-portal_final_paper-solid:before {
  content: "\e95d";
}
.i-icons-my-portal_final_accreditation-solid:before {
  content: "\e95e";
}
.i-icons-my-portal_final_aircraft-solid:before {
  content: "\e95f";
}
.i-icons-my-portal_final_certification-solid:before {
  content: "\e960";
}
.i-icons-my-portal_final_company-solid:before {
  content: "\e961";
}
.i-icons-my-portal_final_ID-line:before {
  content: "\e962";
}
.i-icons-my-portal_final_individual-3-solid:before {
  content: "\e963";
}
.i-icons-my-portal_final_licence-solid:before {
  content: "\e964";
}
.i-icons-my-portal_final_team-solid:before {
  content: "\e965";
}
.i-icons-my-portal_final_application-2-line:before {
  content: "\e966";
}
.i-icons-my-portal_final_application-3-line:before {
  content: "\e967";
}
.i-icons-my-portal_final_application-line:before {
  content: "\e968";
}
.i-icons-my-portal_final_certification-2-line:before {
  content: "\e969";
}
.i-icons-my-portal_final_paper-line:before {
  content: "\e96a";
}
.i-icons-my-portal_final_accreditation-line:before {
  content: "\e96b";
}
.i-icons-my-portal_final_aircraft-line:before {
  content: "\e96c";
}
.i-icons-my-portal_final_certification-line:before {
  content: "\e96d";
}
.i-icons-my-portal_final_individual-2-line:before {
  content: "\e96e";
}
.i-icons-my-portal_final_individual-line:before {
  content: "\e96f";
}
.i-icons-my-portal_final_licence-line:before {
  content: "\e970";
}
.i-icons-my-portal_final_team-line:before {
  content: "\e971";
}
.i-icons-my-portal_final_company-line:before {
  content: "\e972";
}
.i-icons-my-portal_final_individual-3-line:before {
  content: "\e973";
}
.i-icons_final_Aircraft-rego:before {
  content: "\e93f";
}
.i-icons_final_VH-mark:before {
  content: "\e940";
}
.i-icons_final_licences-and-accreditation:before {
  content: "\e941";
}
.i-icons_final_profile:before {
  content: "\e943";
}
.i-icons_final_ReOC:before {
  content: "\e944";
}
.i-icons_final_drone-rego:before {
  content: "\e945";
}
.i-icons_final_applications:before {
  content: "\e946";
}
.i-CSS:before {
  content: "\e901";
}
.i-ExternalLink:before {
  content: "\e902";
}
.i-Key:before {
  content: "\e903";
}
.i-Refresh:before {
  content: "\e904";
}
.i-ChevronDown:before {
  content: "\e905";
}
.i-ChevronRight:before {
  content: "\e906";
}
.i-ChevronUp:before {
  content: "\e907";
}
.i-PDF:before {
  content: "\e908";
}
.i-Facebook:before {
  content: "\e909";
}
.i-Linkedin:before {
  content: "\e90a";
}
.i-RSS:before {
  content: "\e90c";
}
.i-Twitter:before {
  content: "\e93c";
}
.i-Youtube:before {
  content: "\e93d";
}
.i-Login:before {
  content: "\e93e";
}
.i-DroneApp:before {
  content: "\e900";
}
.i-ReferenceMaterial:before {
  content: "\e90b";
}
.i-Postal:before {
  content: "\e90d";
}
.i-Feedback:before {
  content: "\e90e";
}
.i-Favourite:before {
  content: "\e90f";
}
.i-Edit:before {
  content: "\e910";
}
.i-Add:before {
  content: "\e911";
}
.i-Home:before {
  content: "\e912";
}
.i-Delete:before {
  content: "\e913";
}
.i-MakePayment:before {
  content: "\e914";
}
.i-ShoppingCart:before {
  content: "\e915";
}
.i-LowFlyingAircraft:before {
  content: "\e916";
}
.i-MakePaymentLarge:before {
  content: "\e917";
}
.i-SelfServiceLarge:before {
  content: "\e918";
}
.i-UnsafeBehaviour:before {
  content: "\e919";
}
.i-UnsafeDroneOps:before {
  content: "\e91a";
}
.i-DefectReporting:before {
  content: "\e91b";
}
.i-FlyingOutside:before {
  content: "\e91c";
}
.i-HealthSafetyConcerns:before {
  content: "\e91d";
}
.i-RPAsystem:before {
  content: "\e91e";
}
.i-CommercialOver2kg:before {
  content: "\e91f";
}
.i-CommercialUnder2kg:before {
  content: "\e920";
}
.i-DroneNearEmergencies:before {
  content: "\e921";
}
.i-Resources:before {
  content: "\e922";
}
.i-UnsafeDrones:before {
  content: "\e923";
}
.i-Commercial:before {
  content: "\e924";
}
.i-Disability:before {
  content: "\e925";
}
.i-FlyingForFun:before {
  content: "\e926";
}
.i-InfantsChildren:before {
  content: "\e927";
}
.i-Checklist:before {
  content: "\e928";
}
.i-PlanYourTrip:before {
  content: "\e929";
}
.i-SafetyInfo:before {
  content: "\e92a";
}
.i-Video:before {
  content: "\e92b";
}
.i-CabinSafety:before {
  content: "\e92c";
}
.i-GuidanceMaterial:before {
  content: "\e92d";
}
.i-Legislation:before {
  content: "\e92e";
}
.i-QuickTips:before {
  content: "\e92f";
}
.i-FindMedical:before {
  content: "\e930";
}
.i-InfoForDoctors:before {
  content: "\e931";
}
.i-InfoForPilots:before {
  content: "\e932";
}
.i-MRSExaminorLogin:before {
  content: "\e933";
}
.i-NotifyReport:before {
  content: "\e934";
}
.i-PilotsMRSLogin:before {
  content: "\e935";
}
.i-Careers:before {
  content: "\e936";
}
.i-Drones:before {
  content: "\e937";
}
.i-Forms:before {
  content: "\e938";
}
.i-Airworthiness:before {
  content: "\e939";
}
.i-DangerousGoods-03:before {
  content: "\e93a";
}
.i-SelfService:before {
  content: "\e93b";
}
.i-phone2:before {
  content: "\e942";
}
.i-search1:before {
  content: "\f000";
}
.i-ok:before {
  content: "\f002";
}
.i-mail:before {
  content: "\f003";
}
.i-circle:before {
  content: "\f004";
}
.i-angle-right:before {
  content: "\f005";
}
.i-cancel:before {
  content: "\f006";
}
.i-info-circled:before {
  content: "\f008";
}
.i-tag:before {
  content: "\f009";
}
.i-tags:before {
  content: "\f00a";
}
.i-attention:before {
  content: "\f00b";
}
.i-menu:before {
  content: "\f00c";
}
.i-angle-double-right:before {
  content: "\f00d";
}
.i-globe:before {
  content: "\f00e";
}
.i-megaphone:before {
  content: "\f00f";
}
.i-android:before {
  content: "\f010";
}
.i-apple:before {
  content: "\f011";
}
.i-gplus:before {
  content: "\f012";
}
.i-facebook:before {
  content: "\f013";
}
.i-twitter:before {
  content: "\f014";
}
.i-youtube-play:before {
  content: "\f015";
}
.i-flickr:before {
  content: "\f016";
}
.i-mic:before {
  content: "\f017";
}
.i-rss:before {
  content: "\f018";
}
.i-windows:before {
  content: "\f019";
}
.i-th:before {
  content: "\f01a";
}
.i-minus:before {
  content: "\f01b";
}
.i-quote-left:before {
  content: "\f01c";
}
.i-quote-right:before {
  content: "\f01d";
}
.i-thumbs-up:before {
  content: "\f01e";
}
.i-direction:before {
  content: "\f01f";
}
.i-print:before {
  content: "\f020";
}
.i-calendar-empty:before {
  content: "\f021";
}
.i-newspaper:before {
  content: "\f022";
}
.i-plus:before {
  content: "\f023";
}
.i-parliament:before {
  content: "\f024";
}
.i-aus-map:before {
  content: "\f025";
}
.i-a-z:before {
  content: "\f026";
}
.i-touch:before {
  content: "\f028";
}
.i-culture:before {
  content: "\f029";
}
.i-education:before {
  content: "\f02b";
}
.i-family:before {
  content: "\f02c";
}
.i-cogs:before {
  content: "\f030";
}
.i-money:before {
  content: "\f033";
}
.i-transport:before {
  content: "\f035";
}
.i-lifebuoy:before {
  content: "\f037";
}
.i-bell:before {
  content: "\f038";
}
.i-comment:before {
  content: "\f039";
}
.i-help-circled:before {
  content: "\f03a";
}
.i-mobile:before {
  content: "\f03b";
}
.i-angle-up:before {
  content: "\f03d";
}
.i-angle-left:before {
  content: "\f03e";
}
.i-angle-down:before {
  content: "\f03f";
}
.i-opera-house:before {
  content: "\f040";
}
.i-leaf:before {
  content: "\f045";
}
.i-pinterest-squared:before {
  content: "\f0d3";
}
.i-instagram:before {
  content: "\f16d";
}
.i-linkedin-squared:before {
  content: "\f30c";
}
